<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chatterbox</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/build/packaged/css/semantic.css">

    <!-- dependencies -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/semantic-ui/build/packaged/javascript/semantic.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div id='userFilterContainer'>

    <script type="text/template" id='userFilterTemplate'>
      <%=username%>
      <i class="delete icon"></i>
    </script>

    <script type='text/template' id='messageViewTemplate'>
      <span class="username"><%- username %></span>
      <span class="roomname"><%- '-'+roomname+'-' %></span>
      <span class="msg-text"><%- message %></span>
      <div class="bye">
        <a id="bye" href="#" onclick='bye("<%= id %>")'>bye</a>
      </div>
    </script>

    <div id="main">
      <h1 id="roomname" class="ui header">chatterbox</h1>
      <div id="userFiltersContainer"></div>
      <!-- Your HTML goes here! -->
      <div class="user-inputs">
        <div class="ui left icon input">
          <input id="msgToSend" type="text" placeholder="What are you thinking right now" size="50">
          <i class="comment icon"></i>
        </div>
        <button id="sendMsgBtn" class="ui button">Send</button>

      </div>

      <div id="main-msg"></div>
    </div>
  </body>
  <!-- your scripts -->
  <!-- <script src="env/config.js"></script> -->
  <script src="scripts/app.js"></script>
  <script src="scripts/init.js"></script>
</html>
